<div class="container">
    <h1>Bcontact List</h1>
    <a href="/bcontact-add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Bcontact</a>
    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">EmailAddress</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="bcontactList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < bcontacts.length; count++) { %>
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= bcontacts[count].name %></td>
                            <td><%= bcontacts[count].phonenumber %></td>
                            <td><%= bcontacts[count].emailaddress %></td>
                            
                            <td class="text-center col-1">
                                <a href="/bcontact-update/<%= bcontacts[count]._id %>"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Update</a>
                            </td>
                            
                            <td class="text-center col-1">
                                <a href="/bcontact-delete/<%= bcontacts[count]._id %>"
                                    class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
